.color1{
  background: #368cbf
}
.color2{
  background:#7ebc59
}
.color2{
  background:#33363b
}
.color4{
  background:#eaeaea
}
body{
    background-color: transparent;

}
.btn{
  border-radius: 0;
  background: #7ebc59;
  color: white;
  margin: 1px;
}
.fa-spinner{
  font-size:xx-large !important;
}
.fade{
  transition: .0s ease-in-out;
}
.modal-backdrop.show {
  opacity: .3;
}
.modal-content {
  border: 1px solid rgb(126, 188, 89);
  border-radius: 0;
}
.form-control[readonly]{
  background-color:#e9ecef00;
  border: 1px solid #ced4da00;
}
.space{
  margin-top:2rem;
}
.navbar{
  padding: 0;
}
.nav-right{
  float: right;
  background: #7ebc59;
  color:  #eaeaea;
  font-size: 1rem;
  cursor: pointer;
}
